body {
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/88/15/HYUtdS.jpg");
  font-family: "Times New Roman", sans-serif;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
  padding-top: 40px;
}

ul {
  margin: 0 0 30px;
  color: white;
  padding: 0;
}

li {
  color: rgb(202, 203, 221);
  font-size: 16px;
  font-weight: 100;
  list-style: none;
}

.weather-app {
  border: 2px solid #dadde1;
  background-color: black;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  width: 700px;
  height: 500px;
}

img {
  width: 250px;
}

.temperature {
  color: yellow;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-icon {
  height: 140px;
  width: 200px;
  margin-right: 10px;
  align-content: center;
}

.units {
  position: relative;
  color: red;
  align-content: middle;
  top: +10px;
  padding-left: 5px;
}

.search-form {
  padding-top: 40px;
}
.col-6 {
  align-content: middle;
}

.col-4 {
  align-content: middle;
}
